body {
    background: rgb(25, 21, 26);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
  }

.main{
    margin-top: 50px;
    display: flex;
    justify-content:space-between;
    padding: 0;

}

.title {
    font-family: 'Cinzel', sans-serif;
    letter-spacing: 2px;
    font-size: 2rem;
    text-align : center;
    text-shadow: 0 0 30px white;
  }

.circle{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.button {
    outline: none;
    background: rgb(184, 134, 222);
    cursor: pointer;
    transition: 0.5s ease;
}

.utilities{
    text-align: center;
}

.red {
    background-color: #c0392b;
    animation: red-circle 1s infinite;
} 
  
  .yellow {
    background-color: #f1c40f;
    animation: yellow-circle 1s infinite;
  }
  
  .blue {
    background-color: #64fcfe;
    animation: blue-circle 1s infinite;
  }
  
  .green {
    background-color: #2ecc71;
    animation: green-circle 1s infinite;
  }



  
  

  @keyframes red-circle{
   0%{
    }
    50%{
        box-shadow: none;
    }
   100%{
    box-shadow: 0 0 20px 5px #c0392b
    }
  }

  @keyframes yellow-circle{
    0%{
     }
     50%{
        box-shadow: 0 0 20px 5px #f1c40f;
     }
    100%{
        box-shadow: none;
     }
   }


   @keyframes blue-circle{
    0%{
    }
    50%{
        box-shadow: none;
    }
   100%{
       box-shadow: 0 0 20px 5px #64fcfe;;
    }
   }

   @keyframes green-circle{
    0%{
     }
     50%{
        box-shadow: 0 0 20px 5px #2ecc71;
        
     }
    100%{
        box-shadow: none;
     }
   }


